@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.header-container{
  z-index: 99;
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: 	#d5cdf3;
}

.nav-logo{
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.kb{
  font-size: 40px;
  color: #3FA9F5;
}

.nav-contents{
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-content-id.inv{
  display: none;
}
#nav-content-id.vis{
  display: block;
}
.nav-contents li{
  display: inline;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}
.nav-contents a{
  margin: 20px;
  font-weight: 500;
}

.signup-div{
  display: inline;
  background-color: #a54cff;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-contents a{
  color: #000000;
  text-decoration: none;
}

.nav-options{
  /* background-color: green; */
  position: absolute;
  cursor: pointer;
  display: none;

  right: 20px;
}
.nav-options-img{
  height: 40px;
}
#open, #close{
  display: none;
}


#main-body, #objectives{
  display: flex;
  flex-direction: row;
  min-height: 700px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}

.body-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  max-width: 1400px;
  background-color: #f6f6f6;
  padding: 10px 20px;
  margin: 10px 20px;
}

.body-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  min-height: 200px;
  text-align: justify;
  text-align: center;
}

.body-child h1{
  font-size: 25px;
  margin: 10px 20px;
}
.body-child h3{
  font-size: 18px;
  font-weight: 400;
}

.body-img{
  height: 400px;
}

.scroll-container{
  position: absolute;
  bottom: 45px;
  right: 20px;
  background-color: #d8b2ff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}

.scroll-container a{
  text-decoration: none;
  color: black;
}


.obj-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  max-width: 1400px;

  padding: 10px 20px;
  margin: 10px 20px;
}
.obj-container h3{
  font-weight: 300;
  font-size: 16px;
}

.obj-container span{
  text-align: justify;
  max-width: 600px;
  text-align: justify;
  margin: 10px 20px;
}
.obj-img{
  max-height: 400px;
}

#note{
  position: absolute;
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #d8b2ff;
}

@media screen and (max-width: 800px){
  
  .header-container{
    display: flex;
    flex-direction: column;
  }

  .nav-contents{
    display: none;
  }
  .nav-contents ul {
    display: flex;
    flex-direction: column;
  }

  .nav-options{
    display: block;
  }

  #open{
    display: block;
  }

  .body-container{
    flex-direction: column-reverse;
  }
  .obj-container{
    flex-direction: column;
  }
  .body-img{
    height: 150px;
  }
  .obj-img{
    height: 150px;
    display: none;
  }
  .scroll-container{
    display: none;
  }
}
