@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Poppins", sans-serif;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-logo{
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.kb{
  font-size: 40px;
  color: #3FA9F5;
}

.nav-contents li{
  display: inline;
  text-decoration: none;
  color: #000000;
  margin: 20px;
  font-weight: 500;
}

.nav-contents a{
  color: #000000;
  text-decoration: none;
}